<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=127.0.0.1;Initial Catalog=test-db;User ID=sa;Password=abcd123;Persist Security Info = True;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<!--The license context used-->
		<add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
	</appSettings>
</configuration>
